*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    background-color: rgba(255, 192, 203, 0.658);
    width: 100vw;
    height: 100px;
    display: flex;
    margin-bottom: 7vh;
    justify-content: center;
    box-shadow: 0 10px 30px white;
}

@media (max-width:750px){
    .header {
        justify-content: space-between;
        
    }
}
/* .menu-hamburger{
    display: none !important;
} */
.nav-open{  
    background-color:rgba(248, 178, 190, 0.658);
    font-size: .8rem;
    list-style-type: none;
    font-family: 'Julius Sans One', sans-serif;
        color: black;
        /* width: 90%; */
    /* display: none; */
}

@media(max-width:750px){
.menu-hamburger{
    display: block;
    margin-right: 5vw;
    margin-top: 25px;
}
}

.nav-open li{
    background-color: rgba(225, 120, 153, 0.479);
    z-index: 4;
border: solid .5px white;
padding: 2vw;
line-height: 4vh;
text-align: center;
margin-left: 2vw;
margin-right: 2vw;
}
